<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
<app-header></app-header>
<app-method-select></app-method-select>
<app-url-input></app-url-input>
<h3>Headers</h3>
<app-headers-array></app-headers-array>
<h3>Body Type</h3>
<app-body-type-select></app-body-type-select>
<app-json-array></app-json-array>
<h2>Response</h2>
<app-response-status></app-response-status>
<h3>Headers</h3>
<app-response-headers></app-response-headers>
<h3>Body</h3>
<app-response-body></app-response-body>
<!--<app-demo></app-demo>-->
</div>



<!--
components:
method-select
url-input
headers-array
body-type-select
form-array
json-array
response-status
response=headers
response-body

-->